/users/__pycache__
/products/__pycache__
/auction/__pycache__
.env
.idea
.idea/misc.xml
.idea/auction.iml
bids/__pycache__/
bids/migrations/__pycache__/
products/migrations/__pycache__/
users/migrations/__pycache__/


